/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


/* Add to your main styles.css file */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #FFFCF3;
  }
  
  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
  }
  
  /* This class should wrap your main content */
  .main-content {
    flex: 1 0 auto;
  }