
<h1> CUSTOMER DETAILS </h1>
    <div class="customer-info" *ngIf="selectedCustomer">
        <div class="profile-card">
            <div class="profile-pic"></div>
            <div class="profile-details">
                <p><strong>Name:</strong> {{ selectedCustomer.Name }}</p>
                <p><strong>Gender:</strong> {{ selectedCustomer.Gender }}</p>
                <p><strong>Email:</strong> {{ selectedCustomer.Mail }}</p>
                <p><strong>Phone:</strong> {{ selectedCustomer.Phone }}</p>
                <p><strong>Address:</strong> {{ selectedCustomer.Address}}</p>
            </div>
        </div>
        <div class="summary-container">
            <div class="summary-card">
                <h2>Total Orders</h2>
                <div class="value-container">
                    <p class="value">{{ orders.length }}</p>
                    <p class="percentage">+10% <span>This month</span></p>
                </div>
            </div>
            <div class="summary-card">
                <h2>Total Amount</h2>
                <div class="value-container">
                    <p class="value">{{ getTotalAmount() }}</p>
                    <p class="percentage">+15% <span>This month</span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="actions">
        <button class="filter-btn">                  
            <img src="images/customer/filter.svg"/>
            Filter by
        </button>
        <button class="export-btn">
            <img src="images/customer/export.svg"/>
            Exports
        </button>
    </div>

    <div class="table-container">
        <table class="customer-detail-table">
          <thead>
            <tr>
              <th>Order ID</th>
              <th>Amount</th>
              <th>Quantity</th>
              <th>Order Date</th>
              <th>Payment</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <td>{{ order._id}}</td>
              <td>{{ order.TotalPrice }}</td>
              <td>{{ getOrderQuantity(order) }}</td>
              <td>{{ order.OrderDate }}</td>
              <td>{{ order.PaymentMethod }}</td>
              <td>{{ order.Status }}</td>
              <td>
                <button class="view-btn">
                  <a routerLink="/order-detail">
                  <img src="images/customer/view.svg" alt="View">
                  </a>
                </button>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
      

      <div class="pagination">
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
          <span class="page-number">&lt;</span>
        </button>
        <span class="page-number">{{currentPage}} / {{totalPages}}</span>
        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
          <span class="page-number">&gt;</span>
        </button>
      </div>
      