<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Add product</title>
    <!-- <link rel="stylesheet" href="/DoAnCK/Product/add-product.css"> -->

    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,500,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body>
    <!-- ADD PRODUCT -->
    <div class="container">
        <!-- ADD PRODUCT Title -->
        <div class="title">ADD PRODUCT</div>

        <!-- Flex container for buttons -->
        <div class="flex-container">
            <!-- First Item: Save Draft -->
            <!-- <div class="button save-draft" [routerLink]="'/admin-product-edit'">
                <img src="images/product-detail/save.png" alt="Save">
                <span>Save draft</span>
            </div> -->

            <!-- Second Item: Add Product -->
            <div class="button add-product" (click)="postProduct()">
                <img src="images/product-detail/add.png" alt="Add">
                <span>Add product</span>
            </div>

            <!-- Third Item: Cancel -->
            <div class="button cancel" (click)="goBack()">
                <img src="images/product-detail/cancel.png" alt="Cancel">
                <span>Cancel</span>
            </div>
        </div>
    </div>


    <div class="custom-container">
        <!-- First Box -->
        <div class="product-info-box">
            <div class="product-info-content">
                <div class="product-info-title">Product Information</div>
                <div class="input-container">
                    <!-- First Input: Product Name -->
                    <div class="input-container">
                        <div class="label">Product Name</div>
                        <input type="text" class="input-field" placeholder="Enter Product Name" [(ngModel)]="product.Name">
                    </div>
                    <!-- Second Input: Product ID -->
                    <!-- <div class="input-container">
                        <div class="label">Product ID</div>
                        <input type="text" class="input-field" placeholder="Enter Product ID">
                    </div> -->
                </div>
                <!-- Description -->
                <div class="input-container">
                    <div class="label" style="margin-top: 30px;">Description</div>
                    <textarea class="input-field-description" placeholder="Description product" [(ngModel)]="product.Description"></textarea>
                </div>
                <!-- Dimension -->

                <div class="input-container">
                    <div class="label">Dimension</div>
                    <input type="text" class="input-field" placeholder="Enter Dimension" [(ngModel)]="product.Dimension">
                </div>
            </div>
        </div>
        <!-- Second Box -->
        <div class="box" [ngClass]="{ 'product-no-image': product.Image.length === 0, 'product-has-image': product.Image.length > 0 }">
            <div class="upload-title">Upload images</div>
            <!-- Input chọn nhiều ảnh -->
            <input type="file" (change)="onFilesSelected($event)" multiple accept="image/*" id="file-upload" style="display: none;">
            <!-- Khu vực hiển thị ảnh đã chọn -->
            <div>
                <!-- Ảnh lớn -->
                <img *ngIf="product.Image.length > 0" [src]="product.Image[0]" class="main-image">

                <!-- Ảnh nhỏ -->
                <div class="image-thumbnails">
                    <div *ngFor="let image of product.Image.slice(1, 5); let i = index" class="thumbnail-container">
                        <img [src]="image" class="thumbnail">
                        <button class="remove-btn" (click)="removeImage(i)">✖</button>
                    </div>

                <!-- Nút thêm chỉ xuất hiện nếu số ảnh < 5 -->
                    <div class="add-image" *ngIf="product.Image.length < maxImages" (click)="triggerFileInput()">
                        <label for="file-upload">+</label>
                    </div>      
                </div>
            </div>
    </div>

    </div>

    <div class="custom-container">
        <!-- Third Box -->
        <div class="product-info-box34">
            <div class="product-info-content">
                <div class="product-info-title">Pricing and Stock</div>
                <div class="inputs-container">
                    <!-- Price -->
                    <div class="input-container">
                        <div class="label1">Price</div>
                        <div class="input-box">
                            <input type="text" class="input-field" placeholder="Enter Price" [(ngModel)]="product.Price">
                            <div class="label2">USD</div>
                        </div>
                    </div>


                    <!-- Stock -->
                    <div class="input-container">
                        <div class="label1">Stock</div>
                        <input type="text" class="input-field" placeholder="Enter Stock" [(ngModel)]="product.Quantity">
                    </div>
                </div>
            </div>
        </div>

        <!-- Fourth Box -->
        <div class="box1">
            <div class="product-info-content">
                <div class="product-info-title">Category</div>
                <div class="input-container">
                    <div class="input-container">
                        <div class="label">Product category</div>
                            <select class="input-field" [(ngModel)]="product.category_id">
                                <option value="" disabled hidden>Select Product Category</option>
                                <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
                            </select>
                    </div>
                </div>
            </div>
        </div>
        </div>
</body>
    




    
    
    